<div class="block" id="block-text">  
  <div class="content">
    <h2 class="title">ConnectionCrm - CRM Web Application</h2>
    <div class="inner">
      <p class="first">
	    Esta é uma aplicação web oferecida na forma de 'Software como Servico'
	    <a href="http://pt.wikipedia.org/wiki/Software_como_servi%C3%A7o">Saas (Software as a Service)</a>
      </p>
      <hr />
	  <h3>Principais funcionalidades</h3>
  	  <ul class="list">
	
	    <li><span>Cadastramento de Contatos</span></li>
	    <li><span>Opcoes para cadastramento de caracteristicas dos contatos</span></li>
	    <li><span>Pesquisa por informacoes registradas no cadastro de contatos</span></li>
	    <li><span>Agrupamento de contatos por grupos</span></li>
        <li><span>outras em desenvolvimento...</span></li>
	  </ul>
      <p> 
	    <span class="gray">
	      <span class="hightlight">Garantia de backup:</span> 
	      ConnectionCrm - CRM Web Application, faz backup automatico de 
	      todas as informacoes registradas.
	    </span>
	  </p>
      <hr />
      <p>
        Cadastre seus contatos e visualize-os de forma simples, apresentados na tela. 
        Em apenas uma tela você será capaz de ver seus contatos de negocios, clientes ou outros grupos que
        voce defirnir.
        <span class="hightlight">Os grupos definidos sao dinamicos e voce pode muda-los a qualquer momento.</span>
      </p>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>